<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
      <div class="row">
        <div class="col">
          <table class="table table-striped table-dark table-sm" >
            <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Borrar</th>
                <th>Seleccionar</th>
            </thead>
            <tbody>
                <tr *ngFor="let articulos of inventario">
                    <td>{{articulos.id}}</td>
                    <td>{{articulos.nombre}}</td>
                    <td>{{articulos.precio}}</td>
                    <td>
                        <button (click)="eliminar(articulos.id)" class="btn btn-danger">Borrar</button>
                    </td>
                    <td>
                        <button (click)="seleccionar(articulos)" class="btn btn-warning">Seleccionar</button>
                    </td>
                </tr>
            </tbody>
          </table>
        <hr>

        <label for="id">ID</label>
        <input type="number" [(ngModel)]="formulario.id"   class="form-control" ngModel required id="id" name="id" #id="ngModel" />
        <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert">
          <div *ngIf="id.errors?.['required']">
            id is required.
          </div>
        </div>
        <br>
              <label for="nombre">Nombre</label>
            <input type="text" [(ngModel)]="formulario.nombre"   class="form-control" ngModel required id="nombre" #nombre="ngModel">
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert">
              <div *ngIf="nombre.errors?.['required']">
                Name is required.
              </div>
            </div>
        <br>
              <label for="precio">Precio</label>
            <input type="number" [(ngModel)]="formulario.precio"  class="form-control" ngModel required id="precio" #precio="ngModel">
            <div *ngIf="precio.invalid && (precio.dirty || precio.touched)" class="alert">
              <div *ngIf="precio.errors?.['required']">
                precio is required.
              </div>
            </div>
            <br>
        <button (click)="agregar()" class="btn btn-primary">Agregar</button>
        <button (click)="editar()" class="btn btn-success">Editar</button>

        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>

